<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<integer>0</integer>
		<key>imagePath</key>
		<string></string>
		<key>length</key>
		<integer>0</integer>
		<key>name</key>
		<string>不知道</string>
		<key>price</key>
		<integer>100</integer>
		<key>type</key>
		<string></string>
		<key>width</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>height</key>
		<integer>0</integer>
		<key>imagePath</key>
		<string></string>
		<key>length</key>
		<integer>0</integer>
		<key>name</key>
		<string>要你管</string>
		<key>price</key>
		<integer>250</integer>
		<key>type</key>
		<string></string>
		<key>width</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
